.about {
    padding-top: 110px;

    @media (max-width: 767px) {
        padding-top: 88px;
    }

    .private {
        background-color: #000;
        display: flex;

        @media (max-width: 721px) {
            flex-direction: column;
        }

        &-image {
            flex: 0 0 50%;
            overflow: hidden;
            position: relative;

            @media (max-width: 721px) {
                padding: 20% 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        &-body {
            flex: 1 1 auto;
            padding: 75px 15px 75px 60px;

            @media (max-width: 767px) {
                padding: 40px;
            }

            @media (max-width: 479px) {
                padding: 30px;
            }

            &_container {
                max-width: 444px;

                @media (max-width: 721px) {
                    max-width: none;
                }
            }

            &__title {
                margin-bottom: 30px;

                @media (max-width: 721px) {
                    margin-bottom: 20px;
                }

                h1 {
                    color: #fff;
                    font-family: "HankenGrotesk";
                    font-size: 45px;
                    font-weight: 700;
                    letter-spacing: 3px;
                    text-transform: uppercase;

                    @media (max-width: 767px) {
                        font-size: 35px;
                    }

                    @media (max-width: 479px) {
                        font-size: 30px;
                    }
                }
            }

            &__text {
                color: #fff;
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 50px;

                @media (max-width: 721px) {
                    margin-bottom: 20px;
                }
            }

            &-buttons {
                display: flex;
                align-items: center;

                &__link {
                    text-decoration: underline;
                }
            }
        }
    }
}
